<ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/admin/campaign"></ion-back-button>
      </ion-buttons>
      <ion-title>Event Details</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
      <ion-grid>
          <ion-row>
            <ion-card>
              <ion-col size="12">
                <ion-slides [options]="sliderOpts" pager="true">
                  <img *ngIf="item.images.length == 0" class="img-card" style=" width: 70%;" src="../../../assets/logo.png"/>
                  <ion-slide *ngFor="let img of item.images">
                      <ion-img class="img-card" [src]="img.image" tappable (click)="openPreview(img.image)"></ion-img>
                   </ion-slide>
                </ion-slides>
              </ion-col>
              <ion-card-header>
                <ion-card-subtitle>{{item.campaign}}</ion-card-subtitle>
                <ion-card-title>{{item.title}}</ion-card-title>
                <div class="offer-details">
                  <ion-icon name="calendar" color="primary"></ion-icon>
                  <ion-text color="tertiary" class="space-left">{{formatDate(item.start_date)}} </ion-text>
                  <span class="space-left"> to </span>
                  <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
                  <ion-text color="tertiary" class="space-left"> {{formatDate(item.end_date)}}</ion-text>
                </div>
              </ion-card-header>
              <ion-card-content>
                {{item.description}}
                <ion-list>
                  <ion-item lines="none" no-padding>
                      <ion-icon name="pin" color="primary"></ion-icon>
                      <ion-text>Location</ion-text>
                      <ion-note slot="end" color="primary">{{item.location}}</ion-note>
                  </ion-item>
                  <ion-item lines="none" no-padding>
                    <ion-icon name="people" color="primary"></ion-icon>
                    <ion-text>Registered</ion-text>
                    <ion-note slot="end" color="primary">{{item.volunteered.length}}/{{item.noVolunteers}}</ion-note>
                  </ion-item>
                  <ion-item lines="none" no-padding>
                    <ion-icon name="eye" color="primary"></ion-icon>
                    <ion-text>View Count</ion-text>
                    <ion-note slot="end" color="primary">{{item.view_count}}</ion-note>
                  </ion-item>
                  <ion-item lines="none" no-padding>
                    <ion-icon name="link" color="primary"></ion-icon>
                    <ion-text>Whatsapp Link</ion-text>
                    <ion-button (click)="viewLink(item.whatsapp_link)" slot="end">View Link</ion-button>
                  </ion-item>
                  <ion-item lines="none" no-padding>
                    <ion-icon name="body" color="primary"></ion-icon>
                    <ion-text>Created by</ion-text>
                    <ion-button (click)="viewMore(item.creator)" slot="end">See More</ion-button>
                  </ion-item>
                  <ion-item lines="none" no-padding>
                    <ion-label>Comments</ion-label>
                    <ion-badge color="primary" slot="end">{{item.comments.length}}</ion-badge>
                  </ion-item>
                  <ion-button expand="block" color="primary" (click)="openPDF(item.pdf)">View Proposal</ion-button>
                  <ion-button expand="block" color="primary" href="{{item.pdf}}" download={{item.title}}>Download Proposal</ion-button>
                  </ion-list>
                </ion-card-content>
              </ion-card>
          </ion-row>
          <ion-row *ngIf="decline">
            <ion-col size="12">
              <form [formGroup]="form">
                <ion-textarea 
                placeholder="Please state your comments before declining the event."                 
                required formControlName="comment"></ion-textarea>
              </form>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="approve">
            <ion-col size="12">
              <form [formGroup]="form2">
                <ion-textarea 
                placeholder="Please enter the whatsapp_link."                 
                required formControlName="whatsapp_link"></ion-textarea>
              </form>
            </ion-col>
          </ion-row>
          <ion-row justify-content-center align-items-center>
            <ion-col size="6" style="justify-content: center;">
                <ion-button color="success" [disabled]="item.status!= 0" expand="block" (click)="approveEvent(item.id, item.campaign)">Approve</ion-button>
            </ion-col>
            <ion-col size="6" style="justify-content: center;">
              <ion-button color="danger" [disabled]="item.status!= 0" expand="block" (click)="declineEvent(item.id, item.campaign)">Decline</ion-button> 
            </ion-col>
          </ion-row>
        </ion-grid>
  </ion-content>