ion-note {
  font-size: 16px
}

.space-left {
  color: #262626;
}

.raised {
  width: 100%;
  position: fixed;
  top: 15%;
}

.btn-positioning {
  position: fixed;
  top: 25%;
  right: 1%;
}

.img-card {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

ion-card {
  width: 100%;
}