<ion-grid>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <app-image-picker [showPreview]="eventForm.get('images').value" (imagePick)="onImagePicked($event)"></app-image-picker>
      </ion-col>
      <ion-col size="10">
        <ion-list class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input autocomplete="off" formControlName="title" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Start Date</ion-label>
              <ion-datetime
              display-format="DD MMM YYYY"
              picker-format="DD MMM YYYY"
              [min]="2019"
              [max]="2025"
              required
              formControlName= "start_date"
            ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">End Date</ion-label>
              <ion-datetime
              display-format="DD MMM YYYY"
              picker-format="DD MMM YYYY"
              [min]="2019"
              [max]="2025"
              formControlName= "end_date"
              required
            ></ion-datetime>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Location</ion-label>
              <ion-select formControlName="location">
                <ion-select-option>Johor Darul Ta'zim</ion-select-option>
                <ion-select-option>Kedah Darul Aman</ion-select-option>
                <ion-select-option>Kelantan Darul Naim</ion-select-option>
                <ion-select-option>Malacca</ion-select-option>
                <ion-select-option>Negeri Sembilan Darul Khusus</ion-select-option>
                <ion-select-option>Pahang Darul Makmur</ion-select-option>
                <ion-select-option>Penang</ion-select-option>
                <ion-select-option>Perak Darul Ridzuan</ion-select-option>
                <ion-select-option>Perlis Indera Kayangan</ion-select-option>
                <ion-select-option>Sabah</ion-select-option>
                <ion-select-option>Sarawak</ion-select-option>
                <ion-select-option>Selangor Darul Ehsan</ion-select-option>
                <ion-select-option>Terengganu Darul Iman</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Campaign</ion-label>
                <ion-select formControlName="campaign">
                  <ion-select-option>Heart (Programs)</ion-select-option>
                  <ion-select-option>Collab (Events)</ion-select-option>
                  <ion-select-option>Touch (Donations)</ion-select-option>
                  <ion-select-option>Cradle (Workshops)</ion-select-option>
                  <ion-select-option>Belief (Causes)</ion-select-option>
                </ion-select>
              </ion-item>
            <ion-item>
                <ion-label position="floating">Goal (RM)</ion-label>
                <ion-input padding-start="2" autocomplete="off" type="text" formControlName="goal" required>
                </ion-input>
              </ion-item>
            <ion-item>
              <ion-label position="floating">Whatsapp Link</ion-label>
              <ion-input padding-start="2" autocomplete="off"  formControlName="whatsapp_link" type="text">
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-textarea autocomplete="off" formControlName="description" minlength="200" maxlength="300">
              </ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Proposal (PDF)</ion-label>
              <ion-input type="file" accept="application/pdf" formControlName="proposal" (change)="onFilePicked($event)"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">No of Volunteers</ion-label>
              <ion-input padding-start="2" autocomplete="off"  formControlName="noVolunteers" type="number">
              </ion-input>
            </ion-item>
          </ion-list>
        <ion-button color="secondary" type="submit" expand="block" [disabled]="!eventForm.valid" margin-vertical>CREATE EVENT</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>