<ion-header class="animated delay-1s fadeIn">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="animated delay-1s fadeIn">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <div style="display: flex; justify-content: center;">
        <img style="width: 50%; height: auto;" src="../assets/logo.png" />
      </div>
    </ion-row>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <ion-row class="ion-justify-content-center">
        <ion-col size="8">
          <ion-list class="ion-no-margin ion-no-padding">
              <ion-item>
                <ion-label position="floating">Fullname</ion-label>
                <ion-input autocomplete="off" formControlName="fullname" required>
              </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">IC</ion-label>
                <ion-input padding-start="2" autocomplete="off" type="text" formControlName="ic" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input padding-start="2" autocomplete="off" type="text" formControlName="username" required>
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input padding-start="2" autocomplete="off" type="password" formControlName="password" required>
                </ion-input>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Confirm Password</ion-label>
                  <ion-input padding-start="2" autocomplete="off" type="password" formControlName="password_confirmation" required>
                  </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Telephone No.</ion-label>
                <ion-input padding-start="2" autocomplete="off" type="text" formControlName="telNo">
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Location</ion-label>
                <ion-select formControlName="location">
                  <ion-select-option>Johor Darul Ta'zim</ion-select-option>
                  <ion-select-option>Kedah Darul Aman</ion-select-option>
                  <ion-select-option>Kelantan Darul Naim</ion-select-option>
                  <ion-select-option>Malacca</ion-select-option>
                  <ion-select-option>Negeri Sembilan Darul Khusus</ion-select-option>
                  <ion-select-option>Pahang Darul Makmur</ion-select-option>
                  <ion-select-option>Penang</ion-select-option>
                  <ion-select-option>Perak Darul Ridzuan</ion-select-option>
                  <ion-select-option>Perlis Indera Kayangan</ion-select-option>
                  <ion-select-option>Sabah</ion-select-option>
                  <ion-select-option>Sarawak</ion-select-option>
                  <ion-select-option>Selangor Darul Ehsan</ion-select-option>
                  <ion-select-option>Terengganu Darul Iman</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                  <ion-label position="floating">Skill Set (max 2)</ion-label>
                  <ion-select multiple="true" (ionChange)="onSelect($event)" formControlName="skillset">
                    <ion-select-option>Photography</ion-select-option>
                    <ion-select-option>Manage Event</ion-select-option>
                    <ion-select-option>Helper</ion-select-option>
                    <ion-select-option>DJ / Emcee / Sound System</ion-select-option>
                    <ion-select-option>Marketing</ion-select-option>
                    <ion-select-option>Social Media Trooper</ion-select-option>
                    <ion-select-option>Etc</ion-select-option>
                  </ion-select>
              </ion-item>
            </ion-list>
          <ion-button color="primary" type="submit" expand="block" [disabled]="!registerForm.valid && selection" margin-vertical>SIGN IN</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
