<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="volunteer"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col>
      <ion-card>
        <div style="padding:10px; font-weight: bold" class="ion-text-start">
          <h6>ADDRESS: 1ST FLOOR, SUBLOT NO. 84, OFF SURVEY LOT 13768, SECTION 65, KTLD METROCITY, 93050 PETRA JAYA, KUCHING, SARAWAK. 93050 KUCHING SARAWAK</h6>
          <h6>TEL: +60 82-536 235</h6>
          <h6>MOBILE: +60 11-3322 1107</h6>
          <h6>EMAIL: ‎sarawakvolunteers@gmail.com</h6>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
