ion-item {
  --border-top-width: 0px;
  --border-end-width: 0px;
  --border-bottom-width: 2px;
  --border-start-width: 0px;

  --inner-border-width: 0;

  --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
  --border-color: black;
}

ion-button {
  --border-radius: 10px;
  height: 35px;
}

ion-text {
  font-size: 11px;
  line-height: 16px;
}

.forgot {
  font-style: normal;
  font-weight: normal;
  color: #FE0000;
}

ion-label {
  font-size: 11px;
  line-height: 16px;
}