<ion-header translucent>
    <ion-toolbar>
      <ion-title>Comments</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="dismissModal()">Close</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen padding> 
  <ion-grid>
    <ion-row *ngFor="let item of comments">
      <ion-col size="12">
        <ion-item lines="full">
          <ion-avatar slot="start">
              <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y"/>
          </ion-avatar>
          <ion-label>
            <h2>{{item.user.fullname}}</h2>
            <h3>{{item.comment}}</h3>
            <div *ngFor="let data of item.replies">
              <p>{{data.comment}}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
