<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <ion-card>
          <form class="card" [formGroup]="form">
            <ion-item>
              <ion-icon name="lock"></ion-icon>
              <ion-input padding-start="2" autocomplete="off" #password type="password" placeholder="Password" minlength="6" formControlName="password" required>
              </ion-input>
            </ion-item>
            <ion-item>
              <ion-icon name="lock"></ion-icon>
              <ion-input padding-start="2" autocomplete="off" #password type="password" placeholder="Password Confirmation" minlength="6" formControlName="password_confirmation" required>
              </ion-input>
            </ion-item>
            <ion-button color="primary" (click)="onSubmit()">Continue</ion-button>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
