<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/user-management"></ion-back-button>
    </ion-buttons>
    <ion-title>User Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <div class="picker">
            <!-- *ngIf="item.dp != null" -->
            <img *ngIf="user.dp == null" class="image" src="../../../../assets/logo.png"/>
            <ion-img *ngIf="user.dp != null" class="image" [src]="user.dp"></ion-img>
          </div>
      </ion-card-header>
      <div style="padding-right:16px">
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Full Name : {{user.fullname}} </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>IC : {{user.ic}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Phone No. : {{user.telNo}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Location : {{user.location}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Skill Set : {{user.skills}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Occupation : {{user.occupation}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Joined : {{user.created_at}}</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Volunteered : {{user.volunteered.length}} program</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label>Last Login : {{user.last_login}}</ion-label>
        </ion-item>
      </div>
  </ion-card>
</ion-content>
