.img-card {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.button-card-processing {
  text-align: center;
  padding: 10px;
  border: 2px solid var(--ion-color-secondary);
  border-radius: 5px;
  color: var(--ion-color-secondary);
  margin-top: 10px;
}

.button-card-approved {
  text-align: center;
  padding: 10px;
  border: 2px solid var(--ion-color-success);
  border-radius: 5px;
  color: var(--ion-color-success);
  margin-top: 10px;
}

.offer-details {
  display: flex;
  align-items: center;
  
  .space-left {
    margin-left: 5px;
    color: #262626;
  }
}
