<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="volunteer"></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Formation of Malaysia 1963</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-justify">
            On 29 August 1963, the Yang Di-Pertuan Agong signed the Malaysia Declaration for the formation of the Federation of Malaysia.  This was subsequently approved by the Sarawak Legislative Assembly on 4 September 1963 with 38 votes for and 5 against. A week later, Chief Minister Stephen Kalong Ningkan, 3 state cabinet ministers and 10 members of the Alliance flew to Kuala Lumpur to meet the Prime Minister and the Secretary of the Colony of Britain, Duncan Sandys, as an exciting new future beckoned for Sarawak.
          </ion-card-content>
          <img style="padding: 10px" src="../../../assets/img/aboutsarawak_history1.jpg"/>
          <div style="padding: 10px" class="ion-text-center">
            <ion-text>
              Proclamation by the First Governor of Sarawak, His Excellency Datu Abang Haji Openg Abang Sapiee on 16 September 1963 at Padang Sentral, Kuching.
            </ion-text>
          </div>
          <img style="padding: 10px" src="../../../assets/img/aboutsarawak_history2.jpg"/>
          <div style="padding: 10px" class="ion-text-center">
            <ion-text>
              Mr. Stephen Kalong Ningkan reading the Proclamation of the Independence of Sarawak.
            </ion-text>
          </div>
          <ion-card-content class="ion-text-justify">
            On 16 September 1963, the Honourable Khir Johari read the historic Proclamation of Malaysia witnessed by Datu Abang Haji Openg Abang Sapiee, the first Yang di-Pertua Negeri Sarawak, Datuk Stephen Kalong Ningkan, the Chief Minister, members of the first State Cabinet and the public at Central Padang in Kuching.
      
            It was a poignant and proud moment when Ningkan read the Proclamation of the Independence of Sarawak: “Now therefore I, Stephen Kalong Ningkan, the Chief Minister of Sarawak, hereby proclaim that Sarawak has this day attained independence as a State of Malaysia”.
      
            This was followed by the hoisting of the federal flag and the playing of the national anthem ‘Negaraku’.  On this historical day, Sarawak achieved full independence as a member state of the Federation of Malaysia.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="12">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Self-Governing Sarawak 1963</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-justify">
                On 27 May 1961, Malayan Prime Minister Tunku Abdul Rahman Putra Al-Haj proposed a merger for closer political and economic co-operation between the Federation of Malaya, Singapore, Sarawak, North Borneo (as Sabah was known then) and Brunei.

                British Prime Minister Sir Harold Macmillan supported the idea and the first Malaysia Solidarity Consultative Committee (MSCC) meeting was held in Singapore two months later, followed by an eye-opening visit by leaders from Sarawak and Sabah to Malaya on 12 August 1962. In 1962, a five-man team of 2 Malayans and 3 British representatives headed by Lord Cameron Cobbold conducted a referendum amongst Sarawakians on the proposed Federation of Malaysia.
                
                The findings of the Cobbold Commission led to the Malaysia Agreement signed on 9 July 1963 by Malaya, Sabah, Sarawak and Singapore. As spelt out in the 20-point requirements raised by Sabah and 18-point by Sarawak, the Agreement sought to protect the interest, rights and autonomy of the people of the two states after the formation of Malaysia.
            </ion-card-content>
            <img style="padding: 10px" src="../../../assets/img/aboutsarawak_history3.jpg"/>
            <div style="padding: 10px" class="ion-text-center">
              <ion-text>
                  Sarawak Representatives at  Kuching Airport on 12 July 1963 after returning from London

                  where they signed the historic agreement to form Malaysia and end colonial rule.
              </ion-text>
            </div>
            <ion-card-content class="ion-text-justify">
                Temenggong Jugah anak Barieng OBE, Datu Bandar Abang Mustapa CBE, Abang Haji Openg, Ling Beng Siew and P.E.H. Pike signed on behalf of Sarawak while Tunku Abdul Rahman Putra Al-Haj and Sir Harold Macmillan represented Malaya and Britain respectively.

                On 22 July 1963, the Governor of Sarawak, Sir Alexander Waddell, issued a proclamation to form the first Supreme Council with the appointment of Stephen Kalong Ningkan, the Chairman of Sarawak National Party (SNAP), as the first Chief Minister of Sarawak. The other members of the Supreme Council were Abdul Taib Mahmud, James Wong Kim Ming, Dunstan Endawie Anak Enchana, Awang Hipni Pengiran Anu and Teo Kui Seng. This marked the end of colonial rule and birth of Sarawak as a self-governing country.
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-card-header>
                <ion-card-title>Sarawak Population</ion-card-title>
              </ion-card-header>
              <ion-card-content class="ion-text-justify">
                  The Population and Housing Census is conducted once in every 10 years by Department of Statistics Malaysia. The last Census was conducted in 2010 and the next Census is expected to be carried out in 2020.
              </ion-card-content>
              <div style="margin-left:7px">
                <table style="font-size:10px" border="1" cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr height="60">
                        <td style="width: 60px; text-align: center; vertical-align: middle;  background-color: rgb(204, 255, 255);">
                          <strong>Administrative District</strong></td>
                        <td style="width: 60px; text-align: center; vertical-align: middle;  background-color: rgb(204, 255, 255);">
                          <strong>Total Population<br>
                          (Year 2000)</strong></td>
                        <td style="width: 60px; text-align: center; vertical-align: middle; background-color: rgb(204, 255, 255);">
                          <strong>Total</strong><strong>&nbsp;Population</strong><br>
                          <strong> (Year 2010)</strong></td>
                      </tr>
                      <tr height="25">
                        <td style="height: 20px; background-color: rgb(255, 255, 204);">
                          <strong>SARAWAK</strong></td>
                        <td style="height: 20px; background-color: rgb(255, 255, 204);">
                          <div align="center">
                            <strong>2,071,506</strong></div>
                        </td>
                        <td style="height: 20px; background-color: rgb(255, 255, 204);">
                          <div align="center">
                            <strong>2,471,140</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Kuching Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>580,634</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>705,546</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Kuching&nbsp;</td>
                        <td>
                          <div align="center">
                            509,374</div>
                        </td>
                        <td>
                          <div align="center">
                            617,887</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Bau&nbsp;</td>
                        <td>
                          <div align="center">
                            43,190</div>
                        </td>
                        <td>
                          <div align="center">
                            54,246</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Lundu&nbsp;</td>
                        <td>
                          <div align="center">
                            28,070</div>
                        </td>
                        <td>
                          <div align="center">
                            33,413</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Samarahan Division</strong></td>
                        <td style="text-align: center; background-color: rgb(227, 243, 253);">
                          <strong><span style="text-align: -webkit-center;">197,220</span></strong></td>
                        <td style="text-align: center; background-color: rgb(227, 243, 253);">
                          <strong><span style="text-align: -webkit-center;">250,622</span></strong></td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Samarahan&nbsp;</td>
                        <td style="width: 64px; text-align: center;">
                          48,068</td>
                        <td style="width: 64px; text-align: center;">
                          87,923</td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Serian&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            82,042</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            91,599</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Simunjan</td>
                        <td style="width:64px;">
                          <div align="center">
                            38,098</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            39,226</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Asajaya&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            29,012</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            31,874</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Sri Aman Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>94,461</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>108,225</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Sri Aman&nbsp;</td>
                        <td>
                          <div align="center">
                            64,475</div>
                        </td>
                        <td>
                          <div align="center">
                            66,790</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Lubok Antu&nbsp;</td>
                        <td>
                          <div align="center">
                            23,966</div>
                        </td>
                        <td>
                          <div align="center">
                            27,984</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Betong Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>94,461</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>108,225</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td>
                          &nbsp; &nbsp; Betong&nbsp;</td>
                        <td>
                          <div align="center">
                            51,426</div>
                        </td>
                        <td>
                          <div align="center">
                            62,131</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Saratok&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            43,035</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            46,094</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Sarikei Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>121,628</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>118,758</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Sarikei&nbsp;</td>
                        <td>
                          <div align="center">
                            59,043</div>
                        </td>
                        <td>
                          <div align="center">
                            58,021</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Maradong&nbsp;</td>
                        <td>
                          <div align="center">
                            29,917</div>
                        </td>
                        <td>
                          <div align="center">
                            29,441</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Julau&nbsp;</td>
                        <td>
                          <div align="center">
                            32,668</div>
                        </td>
                        <td>
                          <div align="center">
                            15,816</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Pakan&nbsp;</td>
                        <td>
                          <div align="center">
                            -</div>
                        </td>
                        <td>
                          <div align="center">
                            15,480</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Sibu Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>246,088</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>299,768</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Sibu&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            218,106</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            247,995</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Kanowit&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            27,982</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            28,954</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Selangau&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            -</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            22,819</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Mukah Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>97,100</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>110,024</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Mukah&nbsp;</td>
                        <td>
                          <div align="center">
                            46,182</div>
                        </td>
                        <td>
                          <div align="center">
                            42,922</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Dalat&nbsp;</td>
                        <td>
                          <div align="center">
                            24,152</div>
                        </td>
                        <td>
                          <div align="center">
                            19,062</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Matu&nbsp;</td>
                        <td>
                          <div align="center">
                            11,498</div>
                        </td>
                        <td>
                          <div align="center">
                            17,369</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Daro&nbsp;</td>
                        <td>
                          <div align="center">
                            15,268</div>
                        </td>
                        <td>
                          <div align="center">
                            30,671</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Bintulu Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>194,200</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>220,048</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Bintulu&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            143,429</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            189,146</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Tatau&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            23,943</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            30,383</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Kapit Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>101,847</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>112,762</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Kapit&nbsp;</td>
                        <td>
                          <div align="center">
                            58,430</div>
                        </td>
                        <td>
                          <div align="center">
                            56,053</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Song&nbsp;</td>
                        <td>
                          <div align="center">
                            19,806</div>
                        </td>
                        <td>
                          <div align="center">
                            20,595</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Belaga</td>
                        <td>
                          <div align="center">
                            23,611</div>
                        </td>
                        <td>
                          <div align="center">
                            36,114</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Miri Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>302,153</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>364,561</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Miri&nbsp;</td>
                        <td style="width:64px;">
                          <div align="center">
                            228,231</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            300,543</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Marudi</td>
                        <td style="width:64px;">
                          <div align="center">
                            73,922</div>
                        </td>
                        <td style="width:64px;">
                          <div align="center">
                            64,018</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="background-color: rgb(227, 243, 253);">
                          <strong>Limbang Division</strong></td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>74,562</strong></div>
                        </td>
                        <td style="background-color: rgb(227, 243, 253);">
                          <div align="center">
                            <strong>86,571</strong></div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Limbang</td>
                        <td>
                          <div align="center">
                            40,959</div>
                        </td>
                        <td>
                          <div align="center">
                            48,186</div>
                        </td>
                      </tr>
                      <tr height="25">
                        <td style="padding-left: 1em;">
                          Lawas&nbsp;</td>
                        <td>
                          <div align="center">
                            33,603</div>
                        </td>
                        <td>
                          <div align="center">
                            38,385</div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
              </div>
              <div style="padding: 10px" class="ion-text-start">
                <ion-text>
                  <b><h6>Source: Department of Statistics Malaysia</h6></b>
                  <b><h6>Publication:</h6></b>
                  <b><h6>1. Population Distribution and Basic Demographic Characteristics, 2010</h6></b>
                  <b><h6>2. Population and Housing Census of Malaysia (Preliminary Count Report), 2010</h6></b>
                </ion-text>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
