// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These 
// styles are for the entire app and not just one component. Additionally, this 
// file can hold Sass mixins, functions, and placeholder classes to be imported 
// and used throughout the application.

ion-item {
  --border-top-width: 0px;
  --border-end-width: 0px;
  --border-bottom-width: 0px;
  --border-start-width: 0px;
  --inner-border-width: 0;
  --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
}