<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="volunteer"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ currentCampaign }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
    <ion-grid *ngIf="isLoading">
        <ion-row align-items-center justify-content-center>
          <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <ion-spinner name="crescent" color="primary"></ion-spinner>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row ion-justify-content-centre no-padding no-margin>
          <ion-col size="3" no-padding>
            <ion-button color="secondary" style="font-weight: bold;" (click)="changeCategory('latest')">Latest</ion-button>
          </ion-col>
          <ion-col size="4" no-padding>
            <ion-button color="secondary" style="font-weight: bold;" (click)="changeCategory('popular')">Popular</ion-button>
          </ion-col>
          <ion-col size="5" no-padding>
            <ion-button color="secondary" style="font-weight: bold;" (click)="changeCategory('ending_soon')">Ending Soon</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-list class="animated fast fadeIn">
                <ion-item-sliding *ngFor="let item of dataEvent.data" #slidingItem>
                <ion-item class="card" no-padding>
                    <ion-thumbnail no-margin slot="start" style="    padding-top: 10px;
                    ">
                    <div style="display: flex; justify-content: center; align-content: center;">
                      <img *ngIf="item.image==null" style="width:70%; height: auto;" src="../../../assets/logo.png"/>
                      <ion-img *ngIf="item.image!=null" [src]="item.image" style="width:70%; height: auto;"></ion-img>
                    </div>
                    </ion-thumbnail>
                    <ion-label>
                      <h1>{{ item.title }}</h1>
                      <div class="item-details">
                        <ion-text color="primary">{{ truncate(item.description, 2, ' ...') }}</ion-text>
                      </div>
                    </ion-label>
                    <ion-button color="secondary" (click)="goToDetails(item)">Read More</ion-button>
                  </ion-item>
              </ion-item-sliding>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
