.picker {
  width: 30rem;
  max-width: 80%;
  height: 20rem;
  max-height: 30vh;
  border: 1px solid var(--ion-color-primary);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../assets/logo.png) 0 0/100% 100% no-repeat;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type='file'] {
  display: none;
}

.multiple_btn {
  margin-left: auto;
  display: flex;
  margin-right: auto;
  width: 50%;
  font-size: 13px;
}