<div class="picker">
    <ion-img
      role="button"
      class="image"
      (click)="onPickImage()"
      [src]="selectedImage"
      *ngIf="selectedImage && showPreview"
    ></ion-img>
    <ion-button color="primary" (click)="onPickImage()" *ngIf="!selectedImage || !showPreview">
      <ion-icon name="camera" slot="start"></ion-icon>
      <ion-label>Thumbnail</ion-label>
    </ion-button>
  </div>
  <ion-button color="primary" class="multiple_btn" (click)="onPickMultipleImage()" *ngIf="multiple" [disabled]="this.images.source.length > 2">
    <ion-icon name="camera" slot="start"></ion-icon>
    <ion-label>Upload More</ion-label>
  </ion-button>
  <input
  type="file"
    accept="image/jpeg"
    *ngIf="usePicker"
    #filePicker
    (change)="onFileChosen($event)"
    />
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col *ngFor="let pic of images.source" size="4" align-self-center>
        <div id="pictures">
          <ion-img [src]="pic" style="margin:10px;height: 100px;width:100px;"></ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
