ion-item {
  --border-top-width: 0px;
  --border-end-width: 0px;
  --border-bottom-width: 0px;
  --border-start-width: 0px;

  --inner-border-width: 0;

  --border-width: var(--border-top-width) var(--border-end-width) var(--border-bottom-width) var(--border-start-width);
  background: transparent;
}

// ion-button {
//   font-size: 12px;
//   float: right;
// }

.m-10 {
  margin: 10px;
}

h1 {
  font-size: 16px;
  font-weight: bold;
  margin:0px;
}

.card {
  border: 1px solid var(--ion-color-secondary);
  border-radius: 5px;
  color: var(--ion-color-primary);
  margin-bottom: 10px;
}

.item-details {
  display: flex;
  align-items: center;
}

.active {
  font-weight: 600;
}

.pb-5 {
  padding-bottom:10px;
}

ion-item{
  --inner-padding-end: 0px;
  --padding-start:0px
}


ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-dark);
  padding: 9px;
  border-radius: 15px;
  color: white;
  box-shadow: 0 3px 5px -1px rgba(0,0,0,0.2), 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12);
}