<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="volunteer"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-icon name="search" slot="end" margin></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid *ngIf="loading">
    <ion-row align-items-center justify-content-center>
      <ion-col size="2">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row ion-justify-content-centre no-padding no-margin>
      <ion-col size="3" no-padding>
        <ion-button color="secondary" (click)="changeCategory('latest')">Latest</ion-button>
      </ion-col>
      <ion-col size="4" no-padding>
        <ion-button color="secondary" (click)="changeCategory('popular')">Popular</ion-button>
      </ion-col>
      <ion-col size="5" no-padding>
        <ion-button color="secondary" (click)="changeCategory('ending_soon')">Ending Soon</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-col style="position: absolute; bottom: 10px;">
        <ion-button color="secondary" class="m-10" routerLink="/pages/create-event">
          <img styclass="sticky" src="../../../assets/plus.png" />
        </ion-button>
    </ion-col>
  </ion-grid>
    <ion-grid>
      <ion-col *ngFor="let item of events.data">
        <ion-card class="element-item latest">
          <img src="../../../assets/img/epal.jpg" />
          <ion-card-header>
            <ion-card-subtitle>Destination</ion-card-subtitle>
            <ion-card-title>{{item.location}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{item.description}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-grid>
</ion-content>
