<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="volunteer"></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/pages/search" routerDirection="forward">
        <ion-icon name="search" slot="icon-only" margin></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <div *ngIf="loading" text-center>
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </div>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center no-margin no-padding">
      <ion-col size="3">
        <ion-buttons (click)="changeCategory('latest')" style="justify-content: center;">
          <ion-text [ngClass]="{'active': activeLatest}">Latest</ion-text>
        </ion-buttons>
      </ion-col>
      <ion-col size="3" >
        <ion-buttons (click)="changeCategory('popular')" style="justify-content: center;">
          <ion-text [ngClass]="{'active': activePopular}">Popular</ion-text>
        </ion-buttons>
      </ion-col>
      <ion-col size="4">
        <ion-buttons (click)="changeCategory('ending_soon')" style="justify-content: center;">
          <ion-text [ngClass]="{'active': activeEndingSoon}">Ending Soon</ion-text>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="secondary" (click)="createEvent()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
    <ion-grid no-padding no-margin class="animated fast fadeIn">
      <ion-row ion-align-items-center ion-justify-content-center>
        <ion-col size="12">
          <ion-list *ngIf="!loading">
              <ion-item-sliding *ngFor="let item of events.data" #slidingItem>
              <ion-item class="card" no-padding>
                <ion-thumbnail no-margin slot="start" style="    padding-top: 10px;
                ">
                  <div style="display: flex; justify-content: center; align-content: center;">
                    <img *ngIf="item.images.length == 0" style="width:70%; height: auto;" src="../../../assets/logo.png"/>
                    <ion-img *ngIf="item.images.length != 0" [src]="item.images[0].image" style="width:70%; height: auto;"></ion-img>
                  </div>
                </ion-thumbnail>
                <ion-label>
                  <h1>{{ item.title }}</h1>
                  <div class="item-details">
                    <ion-text color="primary">{{ truncate(item.description, 2, ' ...') }}</ion-text>
                  </div>
                </ion-label>
                <ion-button color="secondary" (click)="goToDetails(item)">Read More</ion-button>
              </ion-item>
            </ion-item-sliding>
              <ion-grid *ngIf="this.events.next_page_url">
                <ion-row justify-content-center>
                  <ion-col size="5">
                    <ion-button color="light" (click)="loadMore()" expand="block">Load more</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
