<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="volunteer"></ion-menu-button>
    </ion-buttons>
    <ion-title>Homepage</ion-title>
    <ion-icon name="search" slot="end" margin></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="isotope-event">
    <ul class="list-group">
      <li data-filter="*">All</li>
      <li data-filter=".popular">Popular</li>
      <li data-filter=".latest">Latest</li>
      <li data-filter=".ending_soon">Ending Soon</li>
    </ul>
  </div>
    <div class="grid">
      <ion-card class="element-item popular">
        <img src="../../../assets/img/epal.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card class="element-item latest">
        <img src="../../../assets/img/banana.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card class="element-item ending-soon">
        <img src="../../../assets/img/cucumber.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
      <ion-card class="element-item ending-soon">
        <img src="../../../assets/img/tomato.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Destination</ion-card-subtitle>
          <ion-card-title>Madison, WI</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
        </ion-card-content>
      </ion-card>
    </div>
</ion-content>
