<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/pages/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Detail Event</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <ion-slides [options]="sliderOpts">
          <img *ngIf="item.images.length == 0" class="img-card" style=" width: 70%;" src="../../../assets/logo.png"/>
          <ion-slide *ngFor="let img of item.images">
            <ion-img class="img-card" [src]="img.image"></ion-img>
           </ion-slide>
        </ion-slides>
        <ion-card-header>
          <ion-card-subtitle>{{item.campaign}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
          <div class="offer-details">
            <ion-icon name="calendar" color="primary"></ion-icon>
            <ion-text color="tertiary" class="space-left">{{date(item.start_date)}}</ion-text>
            <span class="space-left">to</span>
            <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
            <ion-text color="tertiary" class="space-left">{{date(item.end_date)}}</ion-text>
          </div>
          <ion-icon name="pin" color="primary"></ion-icon>
          <ion-note color="primary">{{item.location}}</ion-note>
        </ion-card-header>
        <ion-card-content fullscreen>
          <div class="description">
            {{item.description}}
          </div>
          <ion-list style="margin-top: 15px;">
            <ion-item lines="none" no-padding no-margin>
              <ion-progress-bar color="secondary" [value]="item.raise/100" style="position: absolute; top:0px; width:95%;"></ion-progress-bar>
              <ion-text>Raised</ion-text>
              <ion-note slot="end" color="primary">RM{{item.raise == null ? 0 : item.raise}} / RM{{item.goal}}</ion-note>
            </ion-item>
            <ion-item lines="none" no-padding>
              <ion-icon name="people" color="primary"></ion-icon>
              <ion-text>Registered</ion-text>
              <ion-note slot="end" color="primary">{{len(item.joined)}}/{{item.noVolunteers}}</ion-note>
            </ion-item>
            <ion-item lines="none" no-padding>
              <ion-icon name="calendar" color="primary"></ion-icon>
              <ion-text>Days Left</ion-text>
              <ion-note slot="end" color="primary">{{daysLeft(item.start_date)}}</ion-note>
            </ion-item>
            <ion-item lines="full" no-padding button (click)="commentsDiv = !commentsDiv" [class.parent-active]="commentsDiv" detail="false">
              <ion-label>Comments</ion-label>
              <ion-badge color="medium" slot="end">{{len(item.comments)}}</ion-badge>
            </ion-item>
            <!--SUB MENU-->
            <ion-list *ngIf="commentsDiv">
              <ion-row class="no-margin no-padding" *ngFor="let item of item.comments">
                <div class="card">
                  <ion-text style="display: block">Volunteer: {{item.comment}}</ion-text>
                  <ion-text *ngIf="reply(item.replies)" style="display: block">Organizer: {{item.replies.comment}}</ion-text>
                </div>
              </ion-row>
              <div class="comment-box">
                <ion-textarea [(ngModel)]="comment" placeholder="Insert comment"></ion-textarea>
                <ion-button color="medium" expand="block" (click)="postComment(item.id)">Comment</ion-button>
              </div>
            </ion-list>
            </ion-list>
            <ion-button color="secondary" fill="outline" (click)="join(item.id, item.whatsapp_link)" expand="block" style="margin-bottom: 5px;">JOIN NOW</ion-button>
            <ion-button color="secondary" expand="block" (click)="donate(item.bank_account)">DONATE NOW</ion-button>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
