.img-card {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
.offer-details {
  display: flex;
  align-items: center;

  .space-left {
    margin-left: 5px;
    color: #262626;
  }
}

.item .item-inner {
  padding-right: 0px;
}

ion-note{
  font-size: 16px
}

.description {
  padding-bottom: 5px;
  border-bottom: 0.5px solid grey !important;
}

.progress {
  position: absolute;
  top: 0px;
  padding-right: 16px;
  margin-right: 16px;
}

.card {
  background-color: #FFD001;
  color: #262626;
  padding: 10px;
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.comment-box {
  padding: 10px;
  border: 1px solid #262626;
  margin-top: 5px;
  border-radius: 10px
}

ion-alert
{
 --background: var(--ion-color-secondary) !important;
 --ion-text-color: var(--ion-color-primary) !important;
}