<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="/pages/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Detail Event</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-card>
        <img *ngIf="item.image==null" class="img-card" src="../../../assets/logo.png"/>
        <ion-img *ngIf="item.image!=null" class="img-card" [src]="item.image"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>{{item.campaign}}</ion-card-subtitle>
          <ion-card-title>{{item.title}}</ion-card-title>
          <div class="offer-details">
            <ion-icon name="calendar" color="primary"></ion-icon>
            <ion-text color="tertiary" class="space-left">{{item.start_date}}</ion-text>
            <span class="space-left">to</span>
            <ion-icon name="calendar" class="space-left" color="primary"></ion-icon>
            <ion-text color="tertiary" class="space-left">{{item.end_date}}</ion-text>
          </div>
        </ion-card-header>
        <ion-card-content>
          {{item.description}}
          <ion-list>
            <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
            <ion-label>Raised</ion-label>
            <ion-note style="float:right;" color="primary">RM50 / RM100</ion-note>
            <ion-item lines="none" no-padding>
              <ion-icon name="people" color="primary"></ion-icon>
              <ion-text>Registered</ion-text>
              <ion-note slot="end" color="success">25/50</ion-note>
            </ion-item>
            <ion-item lines="none" no-padding>
              <ion-icon name="calendar" color="primary"></ion-icon>
              <ion-text>Days Left</ion-text>
              <ion-note slot="end" color="success">11</ion-note>
            </ion-item>
            <ion-item lines="full" no-padding>
              <ion-label>Comments</ion-label>
              <ion-badge color="medium" slot="end">0</ion-badge>
            </ion-item>
            </ion-list>
            <ion-button color="secondary" fill="clear" (click)="join()" expand="block" margin-vertical>JOIN NOW</ion-button>
            <ion-button color="secondary" expand="block" (click)="donate()">DONATE NOW</ion-button>
          </ion-card-content>
        </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
