<ion-grid>
  <ion-row ion-justify-content-centre no-padding no-margin>
  <ion-col size="3" no-padding>
    <ion-button color="secondary" expand="block">All</ion-button>
  </ion-col>
  <ion-col size="4" no-padding>
    <ion-button color="secondary" expand="block">Incoming</ion-button>
  </ion-col>
  <ion-col size="5" no-padding>
    <ion-button color="secondary" expand="block">Ended</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-grid>
  <ion-row>
    <ion-col>
      <div class="canvasContainer">
        <canvas id="lineChart"></canvas>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="canvasContainer">
        <canvas id="barChart"></canvas>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="canvasContainer">
        <canvas id="classChart"></canvas>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
