<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="volunteer"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{ currentCampaign }}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
      </ion-refresher>
  <ion-grid *ngIf="isLoading" class="animated fast fadeIn">
    <ion-row align-items-center justify-content-center>
      <ion-col size="12" size-sm="8" offset-sm="2" text-center>
        <ion-spinner name="crescent" color="primary"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="ion-justify-content-center no-margin no-padding">
      <ion-col size="1">
        <ion-buttons (click)="changeCategory('all')">
          <ion-text [ngClass]="{'active': activeAll}">All</ion-text>
        </ion-buttons>
      </ion-col>
      <ion-col size="3" >
        <ion-buttons (click)="changeCategory('approved')" style="float: right;">
          <ion-text [ngClass]="{'active': activeApproved}">Approved</ion-text>
        </ion-buttons>
      </ion-col>
      <ion-col size="3">
        <ion-buttons (click)="changeCategory('declined')" style="float: right;">
          <ion-text [ngClass]="{'active': activeDeclined}">Declined</ion-text>
        </ion-buttons>
      </ion-col>
      <ion-col size="4">
        <ion-buttons (click)="changeCategory('requested')" style="float: right;">
          <ion-text [ngClass]="{'active': activeRequested}" style="margin-right: 13px;">Requested</ion-text>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-row *ngFor="let item of dataEvent.data">
            <ion-row *ngIf="!empty">
              <ion-text>There are no event created</ion-text>
            </ion-row>
            <ion-item class="card pb-5" lines="full">
              <ion-col size="5">
                <div>
                  <img *ngIf="item.image==null" style="width:100%; height: auto;" src="../../../assets/logo.png"/>
                  <ion-img *ngIf="item.image!=null" [src]="item.image" style="width:100%; height: auto;"></ion-img>
                </div>
              </ion-col>
              <ion-col size="7" style="height: 100%">
                  <ion-row class="no-padding no-margin">
                    <h1 style="margin:0px">{{ item.title }}</h1>
                  </ion-row>
                  <ion-row class="no-padding no-margin" lines="none">
                    <ion-icon name="calendar" slot="start"></ion-icon>
                    <ion-text lines="none">Date : {{ item.start_date }}</ion-text>
                  </ion-row>
                  <ion-row class="no-padding no-margin" lines="none">
                    <ion-text lines="none">Goals : RM{{ item.goal }}</ion-text>
                  </ion-row>
                  <ion-row class="no-padding no-margin" lines="none">
                    <ion-text lines="none">Volunteers : {{ item.volunteered.length }}</ion-text>
                  </ion-row>
                  <ion-row class="no-padding no-margin" lines="none">
                    <ion-text lines="none">Status : {{ checkStatus(item.status) }} </ion-text>
                  </ion-row>
                  <ion-row>
                    <ion-button *ngIf="item.status ==0" color="primary" expand="block" (click)="viewDetail(item)">View</ion-button>
                    <ion-button *ngIf="item.status !=0" color="primary" expand="block" (click)="viewDetail(item)">Update</ion-button>
                    <!-- <ion-button color="secondary" [disabled]="item.status == 0 || item.status == 2" (click)="editDetail(item)">Edit</ion-button> -->
                    <ion-button color="success" [disabled]="item.status != 0" (click)="approveEvent(item.id)">Approve</ion-button>
                    <ion-button color="danger" [disabled]="item.status != 0" (click)="declineEvent(item)">Decline</ion-button>
                  </ion-row>
              </ion-col>
              </ion-item>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
