<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="volunteer"></ion-menu-button>
      </ion-buttons>
      <ion-title>Announcement</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="circles" refreshingText="Refreshing..."></ion-refresher-content>
    </ion-refresher>
    <ion-grid class="animated fast fadeIn">
      <ion-row>
        <ion-col size="12">
          <ion-list>
            <ion-list-header style="font-size: 20px;">
              History
            </ion-list-header>
            <div *ngFor="let item of announcement.notifications">
              <ion-item>
                <ion-avatar slot="start">
                  <ion-icon name="megaphone"></ion-icon>
                </ion-avatar>
                <ion-label>
                  <h2>{{item.headings.en}}</h2>
                  <h3>{{item.data.task}}</h3>
                  <p>{{item.contents.en}}</p>
                </ion-label>
              </ion-item>
            </div>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <div class="box">
            <form [formGroup]="form">
              <ion-input 
                placeholder="Title"                 
                required formControlName="heading"></ion-input>
              <ion-textarea 
              placeholder="Description"                 
              required formControlName="content"></ion-textarea>
              <div class="right">
                <ion-button color="primary" [disabled]="!form.valid" (click)="onSubmit()">Make Announcement</ion-button>
              </div>
            </form>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
