<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button menu="volunteer"></ion-menu-button>
      </ion-buttons>
      <ion-title>FAQ</ion-title>
      <ion-icon name="search" slot="end" margin></ion-icon>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-left: 16px;">
    <h1>Frequently Asked Questions</h1>
  </div>
  <ion-list>
    <ion-item lines="none" button (click)="open1 = !open1" [class.parent-active]="open1" detail="false">
      <ion-icon slot="start" name="bicycle"></ion-icon>
      <ion-icon slot="end" name="arrow-dropright" *ngIf="!open1"></ion-icon>
      <ion-icon slot="end" name="arrow-dropdown" *ngIf="open1"></ion-icon>
      <ion-label>Volunteer</ion-label>
    </ion-item>
    <!--SUB MENU-->
    <ion-list *ngIf="open1">
        <ion-item button>
          <ion-label class="sub-item">
            How do you apply ? <span style="font-size: 10px;">Just click join now!</span>
          </ion-label>
        </ion-item>
    </ion-list>
  </ion-list>
  <ion-list>
    <ion-item lines="none" button (click)="open = !open" [class.parent-active]="open" detail="false">
      <ion-icon slot="start" name="briefcase"></ion-icon>
      <ion-icon slot="end" name="arrow-dropright" *ngIf="!open"></ion-icon>
      <ion-icon slot="end" name="arrow-dropdown" *ngIf="open"></ion-icon>
      <ion-label>Organizer</ion-label>
    </ion-item>
    <!--SUB MENU-->
    <ion-list *ngIf="open">
        <ion-item button>
          <ion-label class="sub-item">
            How to get event approved ? <span style="font-size: 10px;">Put a logic value</span>
          </ion-label>
        </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
